.b-about {
	.h2 span {
		position: relative;
		@include line(calc(100% - 6px));
	}
	&-item {
		display: inline-block;
		background: $gray--light;
		padding: 20px 40px;
		width: 31%;
		margin-right: 20px;
		height: 196px;
		vertical-align: top;
		p {
			@include text-height(14, 3);
			max-width: 100%;
			overflow: hidden;
			display: -webkit-box;
			text-overflow: ellipsis;
		}
		&:last-of-type {
			margin-right: 0;
		}
		&__img {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
@import 'b-about_tablets'
