@mixin line($width) {
	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: $width;
		height: 2px;
		background: $line;
	}
}
@mixin text-height($line-height, $lines-to-show) {
	height: ($line-height * $lines-to-show) * 1px;
}