$tablets-res: 1024px;
$mobiles-res: 750px;
$dark-back: #353535;
$b-scroll-text: #d6d5d5;
$space--big: 75px;
$space--reg: 45px;
$space--sm: 10px;
$line: #f4511e;
$p-color: #696969;
$gray--light: #ebebeb;